body {
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
background-image:url("https://i.pinimg.com/originals/29/45/78/2945782e0592ea5d610d26fe3adc3f58.jpg")

 
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
background-color: white;
  width: 300px;
  border: 15px solid #194b88;
  border-radius: 50px 20px;
  width: 600px;
  text-align: center;
  margin-top: 169px;
  margin-bottom: 100px;
  margin-right: 161px;
  margin-left: 600px;
}

.qr-input {
  border: 2px  ;
  border-radius: 5px;
  margin-bottom:50px;
  
}

.qr-input input {
  padding: 5px 10px;
  margin-right: 10px;
   width:550px;
   background-color:#b4d0ff;
    border-radius: 50px 20px;
}

.download-btn {
	 background-color:#194b88;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-top: 20px;
  padding: 5px 10px;
}